<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['../../']" style="cursor: pointer">Group</li>
        <li class="breadcrumb-item">Edit</li>
      </ol>
    </nav>

    <div class="card shadow-lg"   style="max-width: 897px; margin: 0 auto">
      <div class="card-header" style="text-align: center; background-color: #d2edff;">
        <b>EDIT DATA GROUP</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [routerLink]="['../../']">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form action="#" method="post" (submit)="edit($event)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>*Name</label>
              <input type="text" minlength="4" maxlength="30"  name="name"  class="form-control" [ngClass]="{'is-invalid' : dataCheckName}" [(ngModel)]="editList.name" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkName('name', $event)" required/>
              <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckName">
                <i class="icon icon-ban"></i> Data sudah ada
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>*Email</label>
              <input type="email" minlength="4" maxlength="100"  name="email" class="form-control" [(ngModel)]="editList.email" [ngClass]="{'is-invalid' : dataCheckEmail}" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkEmail('email', $event)"  required />
              <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckEmail">
                <i class="icon icon-ban"></i> Data sudah ada
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Code</label>
            <input type="text" minlength="1" maxlength="10"  name="code" class="form-control" [(ngModel)]="editList.code" [ngClass]="{'is-invalid' : dataCheckCode}" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkCode('code',$event)"  required />
            <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckCode">
              <i class="icon icon-ban"></i> Data sudah ada
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" minlength="1" maxlength="20"  name="phone" class="form-control" [(ngModel)]="editList.phone" required />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <ckeditor [editor]="Editor" id="exampleFormControlTextarea1" name="description"  [(ngModel)]="editList.description"></ckeditor>
          </div>
          <div class="form-group">
            <label>Active</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios" name="isActive" checked  [(ngModel)]="editList.isActive" [value]="1">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios2" name="isActive"   [(ngModel)]="editList.isActive" [value]="0">No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Suspend</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios3" name="isSuspend" checked  [(ngModel)]="editList.isSuspend" [value]="1">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios4" name="isSuspend"   [(ngModel)]="editList.isSuspend" [value]="0">No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Logo</label>
            <input type='file'  class="form-control-file" id="exampleFormControlFile1" accept="image/x-png,image/gif,image/jpeg" (change)=processFileLogo($event)><br/>
            <div style="border: dashed 2px #80808082; min-height: 20px; padding: 20px; text-align: center">
              <img [src]="urlLogo" style="max-height: 157px;">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile2">Banner</label>
            <input type='file'  class="form-control-file" id="exampleFormControlFile2" accept="image/x-png,image/gif,image/jpeg" (change)=processFileBanner($event)><br/>
            <div style="border: dashed 2px #80808082; min-height: 20px; padding: 20px; text-align: center">
              <img [src]="urlBanner" style="max-height: 157px;">
            </div>
          </div>
          <div style="float: right">
            <button type="button" class="btn btn-info" style="color: white; margin-right: 4px" [routerLink]="['../../']">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="card-footer" style="    background-color: #d2edff;">
      </div>
    </div>
  </div>
</div>
