<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['']" style="cursor: pointer">Application</li>
        <li class="breadcrumb-item" [routerLink]="['../../']" style="cursor: pointer">Application Host</li>
        <li class="breadcrumb-item">Edit</li>
      </ol>
    </nav>
    <div class="card shadow-lg mb-5"   style="/*max-width: 897px;*/ margin: 0 auto">
      <div class="card-body">
        <form action="#" (submit)="edit()">
          <div class="form-group">
            <label>IP *</label>
            <input type="text" name="whnm" class="form-control" [(ngModel)]="editList.ip"  required />
          </div>
          <div class="form-group">
            <label>Active</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="prod_bool" checked  [(ngModel)]="editList.isActive " [value]="1">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="prod_bool"   [(ngModel)]="editList.isActive " [value]="0">No
              </label>
            </div>
          </div>
          <div style="margin-top: 30px">
            <button type="button" class="btn btn-secondary" style="color: white; margin-right: 4px" routerLink="../../">Cancel</button>
            <button type="submit" class="btn btn-primary" style="float: right">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
