<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Trash Application</li>
      </ol>
    </nav>
    <div class="tab-pane fade show active" id="menu1" role="tabpanel" aria-labelledby="v-pills-all-tab">
      <div class="row my-3">
        <div class="col-md-12">
          <div class="card r-0 shadow">
            <div class="table-responsive">

              <table class="table table-striped table-hover r-0">
                <thead>
                  <tr class="no-b" style="background-color: #c4e9ffa1; color: grey">
                    <th style="text-align: center">
                    </th>
                    <th style="font-size: 15px; font-weight: bold"></th>
                    <th style="font-size: 15px; font-weight: bold">NAME</th>
                    <th style="font-size: 15px; font-weight: bold; text-align: center">STATUS</th>
                    <th style="font-size: 15px; font-weight: bold"></th>
                  </tr>
                </thead>

                <tbody>
                <tr *ngFor="let data of datas; let i= index">
                  <td style="text-align: center">
                  </td>
                  <td></td>
                  <td>
                    <div><b>{{data.name}}</b></div>
                  </td>
                  <td>
                    <div style="font-size: 21px">
                      <div *ngIf="data.isActive == 1" style="margin: 5px; text-align: center">
                        <div class="badge badge-success" style="padding: 6px 26px;">Active</div>
                      </div>
                      <div *ngIf="data.isActive != 1" style="margin: 5px; text-align: center">
                        <div class="badge badge-danger">Not Active</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary icon-list-alt" data-toggle="modal" data-target="#Modal-detail" style="cursor: pointer; margin-right: 2px" (click)="getID(data.id)"> Detail</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-boundary="viewport">
                      </button>
                      <div class="dropdown-menu">
                        <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;" [routerLink]="[data.id,'host']"><i class="icon icon-dvr"></i> Host</button>
                        <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;" [routerLink]="[data.id,'key']"><i class="icon icon-key2"></i> Key</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;" (click)="restore(data.id)"><i class="icon icon-sync"></i> Restore</button>
                        <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;" (click)="deletePermanent(data.id)"><i class="icon icon-trash"></i> Delete Permanent</button>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--MODAL DETAIL-->
<div class="modal fade" id="Modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="padding: 5px; border-radius: 5px; margin-bottom: 5px;">
          <div style="margin-bottom: 15px">
            <div style="color: #808080a8">
              Name :
            </div>
            <div style="font-size: 19px">
              <b>{{list.name}}</b>
            </div>
          </div>
          <div style="margin-bottom: 15px">
            <div style="color: #808080a8">
              Status :
            </div>
            <div class="row" style="padding: 10px">
              <div style="font-size: 21px">
                <div *ngIf="list.isActive == 1" style="margin: 5px">
                  <div class="badge badge-success">Active</div>
                </div>
                <div *ngIf="list.isActive != 1" style="margin: 5px">
                  <div class="badge badge-danger">Not Active</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
