<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/dashboard/category']" style="cursor: pointer">Category</li>
        <li class="breadcrumb-item">Add</li>
      </ol>
    </nav>
    <div class="card shadow-lg"   style="max-width: 897px; margin: 0 auto">
      <div class="card-header" style="text-align: center; background-color: #d2edff;">
        <b>ADD CATEGORY</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="../../category">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form action="#" method="post" (submit)="add($event)">
          <div class="form-group">
              <label>*Name</label>
              <input type="text"  name="name"  class="form-control" [ngClass]="{'is-invalid' : dataCheckName}" [(ngModel)]="dataAdd.name" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkName('name',$event)" required/>
              <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckName">
                <i class="icon icon-ban"></i> Data sudah ada
              </div>
          </div>
          <div class="form-group">
            <label>*Code</label>
            <input type="text"  name="code" maxlength="30" minlength="6" class="form-control" [ngClass]="{'is-invalid' : dataCheckCode}" [(ngModel)]="dataAdd.code"  [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkCode('code',$event)"  required />
            <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckCode">
              <i class="icon icon-ban"></i> Data sudah ada
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <ckeditor [editor]="Editor" id="exampleFormControlTextarea1" name="description"  [(ngModel)]="dataAdd.description"></ckeditor>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Parent</label>
              <select id="inputState" class="form-control" name="parent_id" [(ngModel)]="dataAdd.parent_id" required>
                <option *ngFor="let data of datas" [value]="data.id">{{data.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Sort</label>
            <input type="number"  name="sort" class="form-control" [(ngModel)]="dataAdd.sort" required />
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">ICON</label>
            <input type='file'  class="form-control-file" id="exampleFormControlFile1" accept="image/x-png,image/gif,image/jpeg" (change)=processFileIcon($event)><br/>
            <div style="border: dashed 2px #80808082; min-height: 20px; padding: 20px; text-align: center">
              <img [src]="urlIcon" [hidden]="urlIcon == ''" style="max-height: 157px;">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile2">BANNER</label>
            <input type='file'  class="form-control-file" id="exampleFormControlFile2" accept="image/x-png,image/gif,image/jpeg" (change)=processFileBanner($event)><br/>
            <div style="border: dashed 2px #80808082; min-height: 20px; padding: 20px; text-align: center">
              <img [src]="urlBanner" [hidden]="urlBanner == ''" style="max-height: 157px;">
            </div>
          </div>

          <div class="form-group">
            <label>Active</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios5" name="isActive" checked  [(ngModel)]="dataAdd.isActive" [value]="1">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios6" name="isActive"   [(ngModel)]="dataAdd.isActive" [value]="0">No
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Featured</label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios7" name="isFeatured" checked  [(ngModel)]="dataAdd.isFeatured" [value]="1">Yes
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" id="gridRadios8" name="isFeatured"   [(ngModel)]="dataAdd.isFeatured" [value]="0">No
              </label>
            </div>
          </div>
          <div style="float: right">
            <button type="button" class="btn btn-info" style="color: white; margin-right: 4px" routerLink="../../category" >Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="card-footer" style="    background-color: #d2edff;">
      </div>
    </div>
  </div>
</div>
