<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Category</li>
      </ol>
    </nav>
    <div class="tab-pane fade show active" id="menu1" role="tabpanel" aria-labelledby="v-pills-all-tab">
      <div class="row my-3">
        <div class="col-md-12">
          <div style="text-align: center; font-size: 38px;margin: 10px; font-family: Impact">
            CATEGORY
          </div>
          <div class="input-group md-form form-sm form-1 pl-0 col-md-4" style="margin: 20px; margin-right: unset; float: right">
            <div class="input-group-prepend">
                <span class="input-group-text lighten-3" id="basic-text1" style="color: #808080a1;">
                  <i class="icon icon-search" aria-hidden="true"></i>
                </span>
            </div>
            <input class="form-control my-0 py-1" type="text" [formControl]="searchKey"  (keyup)="search($event)" placeholder="Search Name" aria-label="Search">
          </div>
          <div style="clear: both"></div>
          <div class="card r-0 shadow">
            <div class="table-responsive">
              <table class="table table-striped table-hover r-0">
                <thead>
                  <tr class="no-b" style="background-color: #c4e9ffa1;color: grey">
                    <th></th>
                    <th style="font-size: 15px; font-weight: bold;">ID</th>
                    <th style="font-size: 15px; font-weight: bold;">PARENT ID</th>
                    <th style="font-size: 15px; font-weight: bold">NAME</th>
                    <th style="font-size: 15px; font-weight: bold">CODE</th>
                    <th style="font-size: 15px; font-weight: bold">ACTIVE</th>
                  </tr>
                </thead>

                <tbody >
                  <tr *ngFor="let data of datas">
                    <td></td>
                    <td>{{data.id}}</td>
                    <td>{{data.parent_id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.code}}</td>
                    <td>
                      <div style="color: #008000a3; font-family: 'Lato', sans-serif; font-size: 25px" [hidden]="data.isActive == 0">
                        <i class="icon icon-check-circle"></i>
                      </div>
                      <div style="color: #ff0000a1; font-family: 'Lato', sans-serif; font-size: 25px;" [hidden]="data.isActive == 1">
                        <i class="icon icon-times-circle"></i>
                      </div>
                    </td>
                    <!--<td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary icon-list-alt" data-toggle="modal" data-target="#Modal-detail" style="cursor: pointer; margin-right: 2px" (click)="getID(data.id)"> Detail</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        </button>
                        <div class="dropdown-menu">
                          <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;"  routerLink="edit/{{data.id}}"><i class="icon icon-edit"></i> Edit</button>
                        </div>
                      </div>
                    </td>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--<bs-ngx-pagination [data]="dataPage" (pageChange)="pageChange($event)"></bs-ngx-pagination>-->
    </div>
  </div>
</div>


<!--MODAL DETAIL-->
<div class="modal fade" id="Modal-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <div class="conRequest" style="background-color: #97989730; padding: 5px; border-radius: 5px; margin-bottom: 5px">
            <div class="table-responsive">
              <table class="table" style=" color: #86939e">
                <tr>
                  <td><b>ID</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.id}}</td>
                </tr>
                <tr>
                  <td><b>Parent ID</b></td>
                  <td class="custom-width-5">:</td>
                  <td *ngIf="list.parent_id != 0">{{list.parent_id}}</td>
                </tr>
                <tr>
                  <td><b>Name</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.name}}</td>
                </tr>
                <tr>
                  <td><b>Code</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.code}}</td>
                </tr>
                <tr>
                  <td><b>Sort</b></td>
                  <td class="custom-width-5">:</td>
                  <td *ngIf="list.sort != 0">{{list.sort}}</td>
                </tr>
                <tr>
                  <td><b>Description</b></td>
                  <td class="custom-width-5">:</td>
                  <td><div [innerHtml]="list.description"></div></td>
                </tr>
                <tr>
                  <td><b>Create</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.created_at}}</td>
                </tr>
                <tr>
                  <td><b>Update</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.updated_at}}</td>
                </tr>
                <tr>
                  <td><b>Active</b></td>
                  <td class="custom-width-5">:</td>
                  <td>
                    <div *ngIf="list.isActive == true" class="labelsuccess" style="width: 20%;">
                      Yes
                    </div>
                    <div *ngIf="list.isActive != true" class="labelfailed" style="width: 20%;">
                      No
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><b>Feature</b></td>
                  <td class="custom-width-5">:</td>
                  <td>
                    <div *ngIf="list.isFeatured == true" class="labelsuccess" style="width: 20%;">
                      Yes
                    </div>
                    <div *ngIf="list.isFeatured != true" class="labelfailed" style="width: 20%;">
                      No
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><b>ICON</b></td>
                  <td class="custom-width-5">:</td>
                  <td><img *ngIf="list.image_icon != null" [src]="icon(list.image_icon)" style="max-width: 200px; max-height: 75px;"></td>
                </tr>
                <tr>
                  <td><b>Banner</b></td>
                  <td class="custom-width-5">:</td>
                  <td><img *ngIf="list.image_banner != null" [src]="banner(list.image_banner)" style="max-width: 200px; max-height: 75px;"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
