<cs-header></cs-header>
<div class="page has-sidebar-left">
  <div class="navbar navbar-expand d-flex navbar-dark justify-content-between bd-navbar blue accent-3 shadow">
    <div class="relative">
      <div class="d-flex">
        <div>
          <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
            <i></i>
          </a>
        </div>
        <div class="d-none d-md-block">
          <h1 class="nav-title text-white">Dashboard</h1>
        </div>
      </div>
    </div>
    <cs-navbar></cs-navbar>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<cs-right-sidebar></cs-right-sidebar>
