<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['/dashboard/advertisement']" style="cursor: pointer">Advertisement</li>
        <li class="breadcrumb-item">Image</li>
      </ol>
    </nav>
    <div class="tab-pane fade show active" id="menu1" role="tabpanel" aria-labelledby="v-pills-all-tab">
      <div class="row my-3">
        <div class="col-md-12">
          <div style="text-align: center; font-size: 38px;margin: 10px; font-family: Impact">
            ADVERTISEMENT IMAGE
          </div>
        </div>
      </div>
      <div class="modal-content" style="border: 1px solid rgba(0, 0, 0, 0.11);">
        <div class="modal-header">
          <h5 class="modal-title">Image Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"[routerLink]="['/dashboard/advertisement']">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <div class="conRequest" style="background-color: #97989730; padding: 5px; border-radius: 5px; margin-bottom: 5px">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td><b>Name</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.name}}</td>
                  </tr>
                  <tr>
                    <td><b>Code</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.code}}</td>
                  </tr>
                  <tr>
                    <td><b>Description</b></td>
                    <td class="custom-width-5">:</td>
                    <td><div [innerHtml]="pDatas.description"></div></td>
                  </tr>
                  <tr>
                    <td><b>Priority</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.priority}}</td>
                  </tr>
                  <tr>
                    <td><b>Start Date</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas._start}}</td>
                  </tr>
                  <tr>
                    <td><b>End Date</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas._end}}</td>
                  </tr>
                  <tr>
                    <td><b>Type</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.type == "01" ? 'cpm' : pDatas.type == "02" ? 'cpc' : pDatas.type == "03" ? 'cpv' : pDatas.type == "04" ? 'cpa' : pDatas.type == "05" ? 'cpo' : ''}}</td>
                  </tr>
                  <tr>
                    <td><b>Charging Type</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.charging_type}}</td>
                  </tr>
                  <tr>
                    <td><b>Reach</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.reach}}</td>
                  </tr>
                  <tr>
                    <td><b>Budget</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.budget}}</td>
                  </tr>
                  <tr>
                    <td><b>Spent</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.spent}}</td>
                  </tr>
                  <tr>
                    <td><b>Operating System</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.os}}</td>
                  </tr>
                  <tr>
                    <td><b>Kotas</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.kotas}}</td>
                  </tr>
                  <tr>
                    <td><b>Witels</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.witels}}</td>
                  </tr>
                  <tr>
                    <td><b>Regionals</b></td>
                    <td class="custom-width-5">:</td>
                    <td>{{pDatas.regionals}}</td>
                  </tr>
                  <tr>
                    <td><b>Active</b></td>
                    <td class="custom-width-5">:</td>
                    <td>
                      <div *ngIf="pDatas.isActive == true" class="labelsuccess" style="width: 20%;">
                        Yes
                      </div>
                      <div *ngIf="pDatas.isActive != true" class="labelfailed" style="width: 20%;">
                        No
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Nasional</b></td>
                    <td class="custom-width-5">:</td>
                    <td>
                      <div *ngIf="pDatas.isNational == true" class="labelsuccess" style="width: 20%;">
                        Yes
                      </div>
                      <div *ngIf="pDatas.isNational != true" class="labelfailed" style="width: 20%;">
                        No
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card r-0 shadow">
              <div class="table-responsive">
                <table class="table table-striped table-hover r-0">
                  <thead>
                    <tr>
                      <th colspan="20" style="padding: 3px; background-color: #B0D2E5;">
                        <div style="font-size: 28px; cursor: pointer; float: left; margin: 10px;">
                          <button class="btn btn-info" style="margin-right: 6px; color: white" routerLink="add">
                            <i class="icon icon-plus-square"> Add</i>
                          </button>
                          <button class="btn btn-danger" [hidden]="selectedDelete.length == 0"  (click)="delete()" style=" cursor: pointer; background-color: #ed5564b3">
                            <i class="icon icon-trash"> Delete</i>
                          </button>
                        </div>
                      </th>
                    </tr>
                    <tr class="no-b" style="background-color: #c4e9ffa1;">
                      <th style="text-align: center">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="checkedAll" class="custom-control-input" (change)="allChecked($event)" style="border: solid">
                          <label class="custom-control-label" for="checkedAll">&nbsp;</label>
                        </div>
                      </th>
                      <th style="font-size: 15px; font-weight: bold">IMAGE</th>
                      <th style="font-size: 15px; font-weight: bold">IMAGE SIZE</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let data of datas">
                      <td style="text-align: center">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="datachecked" [(ngModel)]="data.dataChecked" class="custom-control-input" id="label{{data.id}}">
                          <label class="custom-control-label" for="label{{data.id}}">&nbsp;</label>
                        </div>
                      </td>
                      <!--<td><img *ngIf="data.link != null" src='http://192.168.1.36:9000/data/advertisement/image/{{data.link}}' style="max-width: 387px;max-height: 255px;"></td>-->
                      <td><img *ngIf="data.link != null" [src]="img(data.link)" style="max-width: 387px;max-height: 255px;"></td>
                      <td>{{data.image_size.name}}({{data.image_size.alias}})</td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary icon-list-alt" data-toggle="modal" data-target="#Modal-detail-account" style="cursor: pointer; margin-right: 2px" (click)="getID(data.id)"> Detail</button>
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-boundary="viewport">
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" style="cursor: pointer; font-size: 15px;" [routerLink]="['edit',data.id]"><i class="icon icon-edit"></i> Edit</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <bs-ngx-pagination [data]="dataPage" (pageChange)="pageChange($event)" style="margin: 20px"></bs-ngx-pagination>
        </div>
      </div>
    </div>
  </div>
</div>


<!--MODAL DETAIL-->
<div class="modal fade" id="Modal-detail-account" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" style="z-index: 10000">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <div class="conRequest" style="background-color: #97989730; padding: 5px; border-radius: 5px; margin-bottom: 5px">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><b>Image Name</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{list.link}}</td>
                </tr>
                <tr *ngFor="let data of datas">
                  <td><b>Image Size</b></td>
                  <td class="custom-width-5">:</td>
                  <td>{{data.image_size.name}}({{data.image_size.alias}})</td>
                </tr>
                <tr>
                  <td><b>Action</b></td>
                  <td class="custom-width-5">:</td>
                  <td *ngIf="list.action == !null">{{list.action}}</td>
                </tr>
                <tr>
                  <td><b>Force</b></td>
                  <td class="custom-width-5">:</td>
                  <td>
                    <div *ngIf="list.isForce == true" class="labelsuccess" style="width: 20%;">
                      Yes
                    </div>
                    <div *ngIf="list.isForce != true" class="labelfailed" style="width: 20%;">
                      No
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><b>Image Preview</b></td>
                  <td class="custom-width-5">:</td>
                </tr>
              </table>
              <div style="text-align: center">
                <!--<img *ngIf="list.link != null" src='http://192.168.1.36:9000/data/advertisement/image/{{list.link}}' style="max-height: 359px">-->
                <img *ngIf="list.link != null" [src]="img(list.link)" style="max-height: 359px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
