<!--<div class="container-fluid animatedParent animateOnce">
  <div class="animated fadeInUpShort go">
    <div class="row my-3">
      <div class="col-md-7 offset-md-2">
        <div class="card mt-3 mb-3">
          <div class="card-header bg-white">
            <strong class="card-title">Profile</strong>
          </div>
          <form #changeForm="ngForm" (submit)="changeForm.form.valid && doChange()" novalidate>
            <div class="card ">

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="icon icon-key2 text-center"></i><strong class="s-12">Old Password *</strong>
                  <input #passRef="ngModel" id="password" [(ngModel)]="changePassword.password_old" name="password"
                         placeholder="Enter Password" class="form-control s-12" type="password"
                         minlength="6" maxlength="30" required [ngClass]="{'is-invalid': changeForm.submitted && passRef.invalid}">
                  <div *ngIf="changeForm.submitted && passRef.invalid" class="invalid-feedback">
                    password min. 6 character
                  </div>
                </li>

                <li class="list-group-item"><i class="icon icon-key2 text-center"></i><strong class="s-12">New Password *</strong>
                  <input #conpassRef="ngModel" id="confirmpassword" name="confirmpassword" placeholder="Enter Password"
                         class="form-control s-12" type="password" minlength="6" maxlength="30" [(ngModel)]="changePassword.password" required [ngClass]="{'is-invalid': changeForm.submitted && conpassRef.invalid}">
                  <div *ngIf="changeForm.submitted && conpassRef.invalid" class="invalid-feedback">
                    <div *ngIf="!!conpassRef.errors.required">*New Password Required</div>
                    <div *ngIf="conpassRef.errors.minlength">*Minimum 4 character</div>
                  </div>
                </li>

                &lt;!&ndash;<li class="list-group-item"><i class="icon icon-lock text-center"></i><strong class="s-12">Password</strong>&ndash;&gt;
                &lt;!&ndash;<input class="form-control float-right s-12" type="text" name="password" [(ngModel)]="profileList.password" placeholder="Enter password"></li>&ndash;&gt;
              </ul>
              <div class="card-body offset-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>-->


<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Change Password</li>
      </ol>
    </nav>
    <div class="card shadow-lg"   style="max-width: 897px; margin: 0 auto">
      <div class="card-header" style="text-align: center; background-color: #d2edff;">
        <b>Change Profile</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" [routerLink]="['../']">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form action="#" method="post" (submit)="change()">
          <div class="form-group">
            <label>*Old Password</label>
            <input type="text" minlength="4" maxlength="100"  name="password_old" class="form-control" [(ngModel)]="changePassword.password_old" required />
          </div>

          <div class="form-group">
            <label>*New Password</label>
            <input type="text" minlength="4" maxlength="100"  name="password" class="form-control" [(ngModel)]="changePassword.password" required />
          </div>

          <div style="float: right">
            <button type="button" class="btn btn-info" style="color: white; margin-right: 4px" [routerLink]="['../']">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="card-footer" style="    background-color: #d2edff;">
      </div>
    </div>
  </div>
</div>

