<div class="container-fluid animatedParent animateOnce">
  <div class="tab-content my-3" id="v-pills-tabContent">
    <nav aria-label="breadcrumb" style="margin-bottom: 35px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" [routerLink]="['../']" style="cursor: pointer">Image Size</li>
        <li class="breadcrumb-item">Edit</li>
      </ol>
    </nav>

    <div class="card shadow-lg"   style="max-width: 897px; margin: 0 auto">
      <div class="card-header" style="text-align: center; background-color: #d2edff;">
        <b>EDIT IMAGE SIZE</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="../../">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form action="#" (submit)="edit()">
          <div class="form-row">
            <label>*Name</label>
            <input type="text" minlength="4" maxlength="30"  name="name"  class="form-control" [ngClass]="{'is-invalid' : dataCheckName}" [(ngModel)]="editList.name" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkName('name',$event)" required/>
            <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckName">
              <i class="icon icon-ban"></i> Data sudah ada
            </div>
          </div>
          <div class="form-group">
            <label>*Alias</label>
            <input type="text" minlength="4" maxlength="100"  name="alias" class="form-control" [(ngModel)]="editList.alias" [ngClass]="{'is-invalid' : dataCheckAlias}" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="checkAlias('alias',$event)" required />
            <div style="color: #ff0000a1; font-family: 'Lato', sans-serif" *ngIf="dataCheckAlias">
              <i class="icon icon-ban"></i> Data sudah ada
            </div>
          </div>
          <div class="form-group">
            <label>Width</label>
            <input type="number"  name="width" class="form-control" [(ngModel)]="editList.width" required />
          </div>
          <div class="form-group">
            <label>Height</label>
            <input type="number" name="height" class="form-control" [(ngModel)]="editList.height" required />
          </div>
          <div class="form-group">
            <label>Sort</label>
            <input type="number"  name="sort" class="form-control" [(ngModel)]="editList.sort" required />
          </div>
          <div style="float: right">
            <button type="button" class="btn btn-info" style="color: white; margin-right: 4px" routerLink="../../">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="card-footer" style="    background-color: #d2edff;">
      </div>
    </div>
  </div>
</div>
